{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Is Arena Brawl dead yet?</h1>
        <p>This is a question where scientist have been struggling on for so long, scientist don't have all the
            resources me and you have to figure it out. So here is our little secret:</p>

        <div id="gamecount"></div>
    </div>

    <div class="footer">
        <span>Made with ❤ by <a title="(nivyox)" href="https://lilox.dev">lilox</a></span>
    </div>
{% endblock %}
