<!DOCTYPE html>
<html>
<head>
    <title>Is Arena Brawl dead yet?</title>
    <meta property="og:description"
          content="One of the biggest mysteries which has never been resolved (even by scientist), is Arena Brawl dead or not!? Check it here!"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css?v=3"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
<script src="/js/jquery.js"></script>
<script src="/js/site.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136766820-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-136766820-1');
</script>