body {
  font-family: arial, sans-serif; }
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; }
    body .container p {
      max-width: 600px; }
  body .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center; }
    body .footer a:link, body .footer a:visited {
      color: black; }

/*# sourceMappingURL=style.css.map */