body
  font-family: arial, sans-serif

  .container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    overflow: hidden

    p
      max-width: 600px

  .footer
    position: absolute
    right: 0
    bottom: 0
    left: 0
    padding: 1rem
    text-align: center

    a:link, a:visited
      color: black